
@font-face {
    font-family: InterVariable;
    font-style: normal;
    font-weight: 100 900;
 
    src: url("../font/InterVariable.ttf") format("woff2");

}
:root {
    --bs-primary: #DE030B !important;
    --white: #ffffff !important;
    --bg-white: #fff !important;
    --black-color: #000;
    --common-font: InterVariable;

      --animate-duration: 800ms;
  --animate-delay: 0.9s;
  --gradient-color:linear-gradient(90deg, rgb(173, 39, 50) 0%, rgb(251, 2, 23) 100%);
}


.bg-primary-color {
    background-color: #FC7503;
}

.bg-black {
    background-color: black;
}


body {

     font-family: var(--common-font) !important;

    background-color: #F9F9F9;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
    margin-top: 0;
 font-family: "InterVariable" !important;

    line-height: 1.2;
    font-weight: 600;


}

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .3s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}
.spinner-grow{background-color: var(--bs-primary) !important;}


#header.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    opacity: 1; /* Fully visible */
    transform: translateY(0); /* Reset transform */
    animation: slideDown 0.7s; /* Slide-down animation */
}

@keyframes slideDown {
    from {
        transform: translateY(-100%); /* Start above the viewport */
        opacity: 0; /* Start invisible */
    }
    to {
        transform: translateY(0); /* End at original position */
        opacity: 1; /* End fully visible */
    }
}


.colorCode.bannerHeading {
 background: linear-gradient(90deg, #cc0000cb, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 4s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
@keyframes animate {
  0% {
    background-position: -300%;
 
  }
  100% {
    background-position: 500%;
  }
}


#sea{ display: none;}
#sea.stickya {
    display: block;
}


h6 {
    font-size: 16px;
}

.colorCode {
    color: var(--bs-primary);
    
}

p {
    font-size: 14px;
}

.bg-white {
    background-color: var(--bg-white);
}

.btn.btn-btnCss { 
    background: var(--bs-primary) ;
    top: 9px;
    right: 9px;
    color: #fff !important;
    margin-right: 15px;
    padding: 10px 26px;
    overflow: hidden;
    z-index: 99;
    border-radius: 5px !important;
}

/* top */

button.btn.btnCss-custom {
    border: 1px solid var(--bs-primary);
    border-radius: 5px;
    color: var(--bs-primary);
    font-weight: 400;
}

/* end */

.btn-primary:hover {
    color: #fff !important;
}

.btn-dontate i {
    padding-left: 6px;
    color: #FC7503;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    color: #070707;
    font-weight: 400;
}

.fw-medium {
    font-weight: 600;
}

a {
    color: #fc7503;
    text-decoration: none;
}

.feature-text p {
    color: #fff;
    font-size: 14px;
}

.mt-6 {
    margin-top: 5rem;
}

.mb-6 {
    margin-bottom: 5rem;
}

.pt-6 {
    padding-top: 5rem;
}

.pb-6 {
    padding-bottom: 5rem;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    transition: .5s;
    font-weight: 600;
    /* text-transform: uppercase; */
}

.btn-primary,
.btn-outline-primary:hover {
    color: var(--bs-light) !important;
}

.btn-secondary,
.btn-outline-secondary:hover {
    color: var(--bs-dark);
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-xl-square {
    width: 60px;
    height: 60px;
}

.btn-xxl-square {
    width: 75px;
    height: 75px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square,
.btn-xl-square,
.btn-xxl-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

/*** Navbar ***/
.sticky-top {
    top: -100px;
    transition: .5s;
}

.nav-logo {
    margin-right: 24px;
}

.navbar .navbar-nav .nav-link {
    margin-right: 20px;
    padding: 12px 0;
    color: #e7e7e7 !important;
    font-size: 14px;
    font-weight: 500;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--bs-primary);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

button.btn.btn-btnCss.rounded-2.border-0.three.butn.butn__new:hover {
    background-image: linear-gradient(to right, #e82932, #f15e64, #ff6262, #de232c);
    box-shadow: 0 5px 15px rgb(168 70 74 / 40%);
    transform: translateY(-0.25em) !important;
    color: #fff !important;
    /* border-radius:5px ; */
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar .navbar-nav {
        margin-top: 15px;
        border-top: 1px solid #EEEEEE;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}

/* banner */

.serch-theme-template {
    width: 760px;
    max-width: 950px;
}

.search-content .form-control {
    height: 62px;
}

.form-control{
    border-radius: 5px !important;

}

button.btn.btn-search {
    position: absolute;
    background: var(--gradient-color);
    top: 9px;
    right: 9px;
    color: #fff;
    padding: 8px;
    border-radius: 10px !important;
    z-index: 99;
}

.direction-pic {
    position: absolute;
    top: 5px;
    left: -67px;
}

.btn-search i {
    margin-right: 8px;
}

.frame-image {
    position: absolute;
    top: 0;
    right: 0;
}

.banner-slice.container.position-relative img {
    max-width: 750px;
}

.imagecard.holder-01 {
    left: -176px;
    position: relative;
    top: 36px;
}

.imagecard.holder-02 {
    left: 6px;
    position: relative;
    top: 76px;
}

.optionX.banner {
    position: relative;
    top: 0;
    /* right: 0; */
    left: 0;
    width: 100%;
}

.optionX.banner {
    /* height: 750px; */
    background-image: url(../img/banner-bg.png);
    background-position: -13rem -20rem;
    background-repeat: space;
    background-size: cover;
    padding-bottom: 3rem;
    ;

}

/* newsk */
.newest-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.newst_btn_center {
    background: #ffffff47;
    padding: 5px;
    max-width: 854px;
    margin: 0 auto;
    border-radius: 20px;
    width: 100%;
    border: 2px solid var(--bs-primary);
}

.newest-btn .btnSearch {
    background: red;
    background: var(--bs-primary);
    top: 9px;
    right: 9px;

    color: #fff;
    margin-right: 15px;
    padding: 12px 34px;

    z-index: 99;
}

.newst_btn_center .btn.btnCss-custom {
    margin: 0px 2px;
    font-weight: 300;
}

/*  */
/*** About ***/
.about-img {
    position: relative;
    padding-left: 45px;
}


/*** Features ***/
.feature {
    background: #000;
    background-size: cover;
}

.feature-row {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
}

.feature-item {
    border-color: rgba(0, 0, 0, .03) !important;
}

.feature-icon {
    position: relative;
    transition: .5s;
}

.feature-item:hover .feature-icon {
    margin-left: 3rem;
}

.feature-item a::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background: var(--bs-secondary);
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: -1;
}

.feature-item a:hover {
    color: var(--bs-primary) !important;
}

.feature-item a:hover::after {
    background: var(--bs-primary);
}

.experience .progress {
    height: 5px;
}

.experience .progress .progress-bar {
    width: 0px;
    transition: 3s;
}


/*** Service ***/
.service .service-item {
    position: relative;
    margin-top: 45px;
}

.service .service-inner {
    position: relative;
    height: 100%;
    margin-top: 45px;
    background: var(--bs-white);
    box-shadow: 0 0 45px rgba(0, 0, 0, .05);
}

.service .service-inner::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    left: 0;
    bottom: 0;
    transition: 1s;
    background: var(--bs-primary);
}

.service .service-inner:hover::before {
    height: 100%;
    top: 0;
}

.service .service-item img {
    margin-top: -45px;
    padding-left: 45px;
}

.service .service-item * {
    position: relative;
    transition: .5s;
    z-index: 1;
}

.service .service-item:hover h5,
.service .service-item:hover p {
    color: var(--bs-white);
}

.service .service-item:hover a {
    padding-left: 45px !important;
}


/*** Appoinment ***/
.appoinment {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../img/carousel-2.jpg) left center no-repeat;
    background-size: cover;
}


/*** Team ***/
.team .team-item {
    background: var(--bs-white);
    box-shadow: 0 0 45px rgba(0, 0, 0, .05);
}

.team .team-item .team-social {
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    transition: .5s;
    background: var(--bs-primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.team .team-item:hover .team-social {
    width: 100%;
    left: 0;
}

.team .team-item .team-social .btn {
    opacity: 0;
    transition: .5s;
}

.team .team-item:hover .team-social .btn {
    opacity: 1;
}


/*** Testimonial ***/
.testimonial-img {
    position: relative;
    min-height: 400px;
    overflow: hidden;
}

.testimonial-img div {
    position: absolute;
    width: 100px;
    height: 100px;
    animation-duration: 5s;
}

.testimonial-img div:nth-child(1) {
    top: 10%;
    left: 10%;
    animation-delay: .1s;
}

.testimonial-img div:nth-child(2) {
    top: 60%;
    left: 20%;
    animation-delay: .4s;
}

.testimonial-img div:nth-child(3) {
    top: 20%;
    left: 60%;
    animation-delay: .7s;
}

.testimonial-img div:nth-child(4) {
    bottom: 10%;
    right: 10%;
    animation-delay: 1s;
}

.testimonial-img div::after {
    position: absolute;
    content: "";
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    box-shadow: 0 0 10px 10px var(--bs-white) inset;
    z-index: 1;
}

.testimonial-carousel .owl-item img {
    width: 100px;
    height: 100px;
}

.testimonial-carousel .owl-nav {
    margin-top: 15px;
    display: flex;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    margin-right: 15px;
    color: var(--bs-primary);
    font-size: 45px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    color: var(--bs-dark);
}


/*** Contact ***/
@media (min-width: 992px) {
    .contact-info::after {
        position: absolute;
        content: "";
        width: 0px;
        height: 100%;
        top: 0;
        left: 50%;
        border-left: 1px dashed rgba(255, 255, 255, .2);
    }
}

@media (max-width: 991.98px) {
    .contact-info::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 0px;
        top: 50%;
        left: 0;
        border-top: 1px dashed rgba(255, 255, 255, .2);
    }
}


/*** Appoinment ***/
.newsletter {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../img/carousel-3.jpg) left center no-repeat;
    background-size: cover;
}


/*** Footer ***/
.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: var(--bg-white);
    font-weight: 300;
    font-size: 15px;
    text-transform: capitalize;
    text-decoration: none;
}

.footer-list {
    list-style: none;
    margin-left: 0;
}


.copyright {
    background: #1C1A1A;
}

.copyright a {
    color: var(--bs-white);
}

.copyright a:hover {
    color: var(--bs-primary);
}

/* .btn-primary.btn-dontate {
    border: 1px solid #FF7F00;
    background-color: #000;
    border-radius: 5px;
} */

.navbar-brand {
    margin-right: 5rem;
}

.taglin.text-center.py-3 h6 {
    letter-spacing: 3px;

}

.taglin.text-center a {
    color: #FC7503;
    text-decoration: underline;
}

.feature-item-hidden {
    background-image: url(../img/feature-img.png);
}

.feature-item-hidden {
    background-image: url(../img/feature-img.png);
    padding: 6%;
    background-position: center;
    background-size: cover;
    text-align: center;
}

.features-wrap {
    margin-top: -55px;
    z-index: 9;
    position: relative;
}

.feature-text h5 {
    padding-top: 8px;
}

.bgPrimary {
    color: #FC7503;
}

.mt-4.border-left {
    border-left: 4px solid #fc7503;
    padding-left: 26px;
    margin-left: 28px;
}

.btn-primary {
    background: var(--bs-primary) !important;
    border: 0;
    border-radius: 50px;
    padding: 10px 40px;
}

.videoicon {
    position: absolute;
    top: 45%;
    right: 45%;
    background: #000;
    width: 56px;
    text-align: center;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.claenderdate i {
    color: #FC7503;
}

.claenderdate span {
    color: #FC7503;
}

.con-heading {
    font-weight: 600;
    color: #000;
    padding-top: 8px;
    padding-bottom: 8px;
}

.event-img img {
    width: 200px;
}

.event-img {
    margin-bottom: 43px;
}

.client-img img {
    border-radius: 100%;
    border: 7px solid #FC7503;
}

.name {
    text-align: center;
    padding-top: 15px;
    color: #FC7503;
}

img.img-fluid.h-css {
    height: 400px;
    width: 100%;
}

.donaegernate {
    /* background-image: linear-gradient(266deg, #600D10, #871116, #600D10); */
    padding: 45px;
    background-image: url(../img/Geometric-shapes.jpg) !important;
    background-attachment: fixed;
}

.peagraph {
    font-weight: 600;
}

.feature-ico0.mb-4.mt-n4 {
    position: absolute;
    top: 0;
}

.feature-ico0.mb-4.mt-n4 {
    background: red;
    position: absolute;
    top: 0;
    padding: 14px;
    left: 13px;
}

/* catergory */

.card h5 {
    padding-bottom: 10px;

    font-size: 18px;
    font-weight: 700;
}

.card.colorCodeCss {
    background: #A383FF;
    padding: 4px;
    padding-top: 18px;
}

.card.colorCodeCssTwo {
    background: #899BFD;
    padding: 4px;
    padding-top: 18px;

}

.card.colorCodeCssthree {
    background: #B92FE5;
    padding: 4px;
    padding-top: 18px;

}

.card.colorCodeCssfour {
    background: #7469FF;
    padding: 4px;
    padding-top: 18px;

}

.card-category .card {
    max-width: 172px;
    overflow: hidden;
    margin: 6px;
    margin-top: 0px;
    border-radius: 5px;
}

.card-title {
    color: var(--black-color);
}

.price-list h6 {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 0;
}

.rating span {
    color: var(--star-bg)
}

.rating i {
    font-size: 10px;
    color: #ffa500;
}
.price-list p {
    font-size: 12px;
    margin-bottom: 0;
}

.btn.btn-buy {
    border: 1px solid var(--bs-primary);
    color: var(--bs-primary);
    font-weight: 200;
    font-size: 16px;
}

span.rating-rate {
    font-size: 12px;
    color: #777777;
}

.card-text.text-muted {
    font-size: 10px;
}

.card {
    box-shadow: 1px 1px 10px #9b9b9b1f;
}

.card.shadow {
    box-shadow: 0 .5rem 1rem rgb(165 165 165 / 15%) !important;
    border: 0;
}

.h-css {
    max-height: 363px;
    height: 150px;
    margin-bottom: 20px;
}




/*------------------------------------------------------------------
	9. Features Section Styles
-------------------------------------------------------------------*/
.features {
    padding-top: 60px;
    padding-bottom: 60px;
}

.features-holder {
    position: relative;
    perspective: 1000px;
    margin-top: 50px;
}

.features-holder .feature-box {
    position: absolute;
    left: 0;
    top: 0;
    padding: 60px 50px;
    background-color: #fff;
    border-radius: 10px;
    -webkit-transform: rotateX(60deg) scale(0.5) translateY(50px);
    -moz-transform: rotateX(60deg) scale(0.5) translateY(50px);
    -ms-transform: rotateX(60deg) scale(0.5) translateY(50px);
    transform: rotateX(60deg) scale(0.5) translateY(50px);
    opacity: 0;
    -webkit-box-shadow: 0 8px 18px rgba(0, 0, 0, 0.08);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.08);
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;
}

.features-holder .feature-box.show-details {
    -webkit-transform: rotateX(0deg) scale(1) translateY(0px);
    -moz-transform: rotateX(0deg) scale(1) translateY(0px);
    -ms-transform: rotateX(0deg) scale(1) translateY(0px);
    transform: rotateX(0deg) scale(1) translateY(0px);
    opacity: 1;
}

.features-holder .feature-box .feature-title-holder {
    margin-bottom: 50px;
}

.features-holder .feature-box .feature-title-holder .feature-icon .htfy {
    color: #3195ff;
    font-size: 34px;
    vertical-align: middle;
    margin-right: 20px;
}

.features-holder .feature-box .feature-title-holder .feature-icon [class*=fa] {
    color: #3195ff;
    font-size: 34px;
    vertical-align: middle;
    margin-right: 20px;
}

.features-holder .feature-box .feature-title-holder .feature-title {
    color: #3195ff;
    font-size: 19px;
    font-weight: 600;
}

.features-holder .feature-box .feature-details {
    color: #0d1e30;
    font-size: 17px;
    font-weight: 300;
}

.features-holder .feature-box .feature-details p {
    color: #0d1e30;
    font-size: 17px;
    font-weight: 300;
    margin-bottom: 20px;
    line-height: 2.1rem;
}

.features-links-holder {
    position: relative;
    perspective: 1000px;

}

.features-links-holder .icons-axis {
    position: absolute;
    margin-top: 86px;
    border-radius: 200px;
    text-align: center;
    -webkit-box-shadow: 0 3px 37px #EA4335;
    box-shadow: 0 3px 113px #ea43359e;
    transform: translate(40%, 0%);
}

.features-links-holder .icons-axis img {
    width: 100%;
}

.features-links-holder .feature-icon-holder {
    position: absolute;
    width: 62px;
    height: 62px;
    border-radius: 100px;
    /* background-color: #8392b5; */
    text-align: center;
    padding-top: 8px;
    z-index: 100;
    cursor: pointer;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}


.features-links-holder .feature-icon-holder.opened .animation-holder {
    opacity: 1;
}

.features-links-holder .feature-icon-holder.opened .animation-holder .special-gradiant {
    animation-name: little-move;
}

.features-links-holder .feature-icon-holder .feature-icon {
    color: #ffffff;
    font-size: 38px;
}

.img-icon img {
    width: 39px;
}

.features-links-holder .feature-icon-holder .feature-title {
    position: absolute;
    color: #3f3d59;
    font-size: 13px;
    font-weight: 700;
    right: 41px;
    top: 30%;
    /* width: 244px; */
    text-align: left;
    background: #fff;
    padding: 20px 14px;
    width: 285px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding-bottom: 13px;
    padding-top: 13px;
    border-radius: 5px;

}

.title-text p {
    margin-bottom: 0;
}

.features-links-holder .feature-icon-holder .animation-holder {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 100px;
    overflow: hidden;
    z-index: -1;
    opacity: 0;
    display: none;
}

.features-links-holder .feature-icon-holder1 {
    top: 27px;
    left: 200px;
}

.features-links-holder .feature-icon-holder2 {
    top: 189px;
    left: 133px;
}

.features-links-holder .feature-icon-holder3 {
    top: 70%;
    margin-top: 0;
    left: 200px;
}

.title-text p {
    font-size: 11px;
    /* margin-bottom: 5px; */
}

.features-links-holder .feature-icon-holder4 {
    /* top: 27px;
    left: 61rem;
    padding-top: 12px; */
    bottom: -41px;
    left: 36rem;
}

.features-links-holder .feature-icon-holder4 .feature-icon {
    font-size: 30px;
}

.features-links-holder .feature-icon-holder5 {
    bottom: 17%;
    left: 60rem;
}

.card-format-content {
    display: flex;
}

.feature-title {
    display: flex !important;
    align-items: center;
    gap: 16px;
}

.features-links-holder .feature-icon-holder6 {
    bottom: 246px;
    left: 64rem;
    padding-top: 12px;
}

.features-links-holder .feature-icon-holder7 {
    top: 27px;
    left: 60rem;
    padding-top: 12px;
}

.card.shadow {
    margin-bottom: 15px;
}

.profile img {
    max-width: 252px;
    width: 150px;
}

.profile {
    text-align: center;
    padding: 35px;
}

.h-cssCustom {
    height: 650px;
}

ul.list-group li {
    display: inline-block;
    padding: 12px;
}

ul.list-group {
    list-style: none;
    display: inline-block;
    margin: 40px;
    /* padding: 21px; */
}

button.btn.btn-search.subscriptionCss {
    top: 5px;
    padding: 6px 12px;
    border-radius: 10px;
}

.subscrioptio-searc input {
    height: 50px;
}

.footerTittle h5 {
    color: #828282;
}

ul.footer-list li {
    padding-bottom: 15px;
}
ul.footer-list li:hover {
    padding-left: 6px;
    transition: 1s;
}
ul.footerSocial-icon li {
    padding: 0 13PX;
}

.copyright p {
    font-size: 12px;
}

.mx-autoCss {
    margin: 0 auto;
}

.all-btn .btn:nth-child(2) {
    border-color: var(--black-color);
    color: var(--black-color);
}

.all-btn .btn:nth-child(3) {
    border-color: var(--black-color);
    color: var(--black-color);
}

.all-btn .btn:nth-child(4) {
    border-color: var(--black-color);
    color: var(--black-color);
}

.all-btn .btn:nth-child(5) {
    border-color: var(--black-color);
    color: var(--black-color);
}

.ed-bg {
    top: 230px;
    position: absolute;
    left: -90px;
}


.ed-bg {
  -webkit-animation: ed-bg 5s normal linear infinite;
  animation: ed-bg 5s normal linear infinite;
}

@keyframes ed-bg {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  25% {
    -webkit-transform: rotate3d(0, 0, 1, 90deg);
    transform: rotate3d(0, 0, 1, 90deg);
  }
  50% {
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
    transform: rotate3d(0, 0, 1, 180deg);
  }
  75% {
    -webkit-transform: rotate3d(0, 0, 1, 270deg);
    transform: rotate3d(0, 0, 1, 270deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg);
  }
}
.grapup {
    position: absolute;
    right: 46px;
    bottom: 96px;
}

.rating-iconImg {
    position: absolute;
    top: 34px;
    transform: translate(78%, 0px);
}


.visibles {
    display: inline-block;
    user-select: none
}

.hides {
    opacity: 0.45;
}

.w-60 {
    width: 67% !important;
}

p.card-text {
    color: #646464;
}

.graphic-ocon {
    position: absolute;
    left: -77px;
    top: 302px;
}

.graphic-ocon.animationsCss {
    left: -60px;
    top: 27rem;
}

.footerTittle {
    color: #686767;
    font-size: 20px;
}


/* search */
:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}
 .close {
	 position: absolute;
	 top: 2rem;
	 right: 2rem;
	 background: none;
	 border: 0;
	 font-size: 1rem;
	 font-weight: 700;
	 display: block;
	 cursor: pointer;
	 color: black;
	 padding: 10px 18px;
	 background: white;
	 border-radius: 50%;
	 outline: none;
}
 .close:hover {
	 background: #d62839;
     color: var(--white);
}
 .search-box.search-elem {
	 margin: 0;
	 position: fixed;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 z-index: 9999;
	 background: rgba(50, 33, 58, 0.9);
	 transition: all 0.3s ease-in-out;
	 -webkit-transform: scale(0);
	 -ms-transform: scale(0);
	 transform: scale(0);
}
 .search-box.search-elem .inner {
	 width: 70%;
	 margin: 0 auto;
	 position: relative;
	 top: 50%;
	 transform: translateY(-50%);
}
 .search-box.search-elem label {
	 color: white;
	 font-weight: 300;
	
}
 .search-box.search-elem button.submit {
	 outline: none;
	 position: absolute;
	 top: 0;
	 right: 12  px;
	 height: 70px;
	 padding: 10px 2rem;
	 background: var(--bs-primary);
    border: 0px;
	 font-size: 1rem;
	 color: white;
}
 .search-box.search-elem button.submit[disabled] {
	 background: var(--gradient-color);
	 color: var(--bg-white );
}
 .search-box.search-elem input[type="text"] {
	 padding: 20px;
	 height: 70px;
	 font-size: 32px;
	width: 100%;
	 font-weight: 300;
	 border: none;
	
	 transition: border 0.3s;
	 border-radius: 0;
}

.search-btn i {
    font-size: 18px;
    background: var(--bs-primary);
    padding: 9px 10px;
    color: #fff !important;
    border-radius: 4px !important;
}
 .search-box.search-elem input[type="text"]:focus {
	 border-bottom: solid 2px #00a896 !important;
	 box-shadow: none;
}
 .search-box.search-elem label.placeholders {
	 position: absolute;
	 top: 10px;
	 left: 2rem;
	 font-size: 32px;
	 font-weight: 300;	
	 color: #999;
	 transition: all 0.3s;
}
 .search-box.search-elem label.placeholders.move-up {
	 top: -25px;
	 color: white !important;
	 font-size: 1rem;
}
 .search-box.search-elem.search-open {
	 -webkit-transform: scale(1) ;
	 -ms-transform: scale(1);
	 transform: scale(1);
}
 .search-btn {
	 text-transform: uppercase;	 
	 font-size: 0.875rem;
	 padding: 0 10px;
	 display: inline-block !important;
}
 .search-btn:hover {
	 color: #00a896;
}
 

/*cart  */
.cartimg{
    width: 46px;
    max-width: 50px;
}

.iconBar.iconArea.bold {
    position: relative;
}
.iconBar.iconArea.bold:before {
    content: attr(data-totalitems);
    font-size: 10px;
    font-weight: 600;
    position: absolute;
    top: 2px;
    right: -8px;
    background: #de030b;
    line-height: 18px;
    padding: 0 5px;
    height: 19px;
    min-width: 20px;
    color: white;
    text-align: center;
    border-radius: 24px;
}






/* header */
 .navbar-nav a:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 0;
  height: 2px;
  background-color: var(--bs-primary);
  transition: opacity 0.3s ease, width 0.3s ease;
  -ms-transition: opacity 0.3s ease, width 0.3s ease;
}
 .navbar-nav a:hover:after {
  width: 100%;
}
/* hover */


.three {
    /* background: linear-gradient(#b986d6, #88daa1); */
    border:4px solid #e4a13d;
    transition: all 0.4s;
    transition-timing-function:cubic-bezier(0.5, 3, 0, 1);
}

.three:hover {
    transform:scale(1.05,1.05);
    transition: 0.5s;
}

button.btn.btn-btnCss.border-0.three.butn.butn__new:hover {
    background-image: linear-gradient(to right, #e82932, #f15e64, #ff6262, #de232c);
    box-shadow: 0 5px 15px rgb(168 70 74 / 40%);
    transform: translateY(-0.25em);
}

.graphic-image img:hover{ transform: scale(1);}


/*--- btn-3 ---*/
.btn-3 {
  padding: 5px;
}
.btn-3 {
  color: rgb(255, 255, 255);
  background-color: rgb(54, 56, 55);
}
.btn-3::before,
.btn-3::after {
  background: transparent;
  z-index: 2;
}

/* card hover graphic */

.boxShadwoCard:hover {
    transform: scale(1.05);
        box-shadow: 0 5px 25px rgb(0 0 0 / 40%);
}




.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
 
  outline: none;
}

/* 3 */
.btn-3 {
  background:  var(--bs-primary);
background: linear-gradient(90deg, rgb(173, 39, 50) 0%, rgb(251, 2, 23) 100%);

  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  
}
.btn-3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-3:before,
.btn-3:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
   background:  var(--bs-primary);
  transition: all 0.3s ease;
}
.btn-3:before {
  height: 0%;
  width: 2px;
}
.btn-3:after {
  width: 0%;
  height: 2px;
}
.btn-3:hover{
   background: transparent;
  box-shadow: none;
}
.btn-3:hover:before {
  height: 100%;
}
.btn-3:hover:after {
  width: 100%;
}
.btn-3 span:hover{
   color: var(--bs-primary);
}
.btn-3 span:before,
.btn-3 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
   background:  var(--bs-primary);
  transition: all 0.3s ease;
}
.btn-3 span:before {
  width: 2px;
  height: 0%;
}
.btn-3 span:after {
  width: 0%;
  height: 2px;
}
.btn-3 span:hover:before {
  height: 100%;
}
.btn-3 span:hover:after {
  width: 100%;
}


/* casd */
.card.shadowCss {
    box-shadow: 0 5px 25px rgba(134, 133, 133, 0.4);
    overflow: hidden;
}
.card.shadowCss:hover {
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.4);
}

.card.shadowCss:hover img {
  transform: scale(1.1);


}

.card.shadowCss img {
   transition: 0.3s;
}

.card.hover-effect {
    border: 0;
    transition: 1s;
}
.card.hover-effect:hover {
    border: 0;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.4);
      transition: 1s;

    border: 1px solid var(--bs-primary);
    background-color: white;
}



/* Fade In and Fade Out Styles */
.fade-in {
  opacity: 1;
  visibility: visible;
  display: block;
  transition: opacity 0.5s ease-in, visibility 0.5s ease-in;
}

.fade-out {
  opacity: 0;
  visibility: hidden;
  display: none;
  transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
  pointer-events: none;
}

